@charset "utf-8";
.main .tool.advance form.search span.manager_id .form-select {
    width: 161px;
}

.form table tr td:nth-child(1) {
    width: 80px;
}

table.detail tr td:first-child {
    width: 104px;
}